
.description {
	width: 40%;
	margin: 0 auto
}

.author {
	width: 40%;
	margin: 0 auto;
	position: relative;
	left: 30%;
}

#menuShow {
	border: 1px solid #e3e3e3;  
	background-color: #ffffff;  
	padding: 0px;  
	font-size: 12px;  
	font-family: tahoma;  
	position: absolute;  
	width: 220px;  
	height: 500px;  overflow-y:auto;overflow-x:hidden;
}  

#menuSelect {  
	border: 0px solid #e3e3e3;  
	background-color:#fff;
	padding: 0px;  
	font-size: 10px;  
	font-family: tahoma;  
	position: absolute;  
	width: 80px;  
}  

.Label-content {
	
}

.Note-name {
	width: 70%;
	margin: 0 auto
}

.Note-content {
	width: 65%;
	margin: 0 auto
}

.photography {
	position:relative;
    width: 800px;
    left:50%;
	margin-left: -400px;


}