<!doctype html>
<html lang="en">
<head>
    <title>Daoling‘s Notes</title>
   	<meta charset="UTF-8">
    <meta name="keywords" content="Daoling Song, Faustpeace, 宋道灵, mobile, blog, notes" />
    <meta name="description" content = "Daoling's learning notes will be updated daily ;)" />
    
    <link href="css/main.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="sdl_App">
  <h1 class="description">Enjoy time，Step by Step.</h1>
  <h2 class="author">---Daoling's Note</h2>
  <div id="menu">
    <div id="menuSelect" style=""align="right"> <a href="#" onClick="moveOnMenu();moveOffSelector()"><img src="img/menu.jpg"></a></div>  
    <div id="menuShow" style="" align="center"> <a href="#" onClick="moveOffMenu();moveOnSelector()"> click here to close</a>
      <div ng-controller="Menu">
        <div ng-repeat="Lable in Lables">
           <h3 class="lebel-content" onclick>{{Lable.content}}</h3>
        </div>
      </div>           
    </div>
  </div>
  <div id="container">
    <div ng-controller="Angular">
      <div ng-repeat="Note in Notes">
         <h3 class="Note-name">{{Note.name}}</h3>
         <p class="Note-content">{{Note.content}}</p>
      </div>
    </div>   
  </div>
</body>
</html>
<script src="js/sdl_todo.js"></script>